
.container { 
    text-align: center;
    
}
h1,h2,h3,
h4,h5,h6 {
    padding: 5px;
    
}
#title-image, #gameover-image, #youwin-image{ 
    display: block;
    margin: 0 auto;
}

#currentWord {
    letter-spacing: 10px;
}

